<p>
  <strong>Drug Name:</strong>
  <%= @prescription.name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @prescription.dosage %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @prescription.purpose %>
</p>
