<h1>Current Prescriptions</h1>

<table>
  <tr>
    <th>Drug Name</th>
    <th>Dosage</th>
  </tr>

  <% @actives.each do |active| %>
    <tr>
      <td><%= active.name %></td>
      <td><%= active.dosage %></td>
      <td><%= link_to 'Show', active_path(active) %></td>
    </tr>
  <% end %>
</table>
